## Run with Docker

1. Create a `.env` file in the project root using `.env.example`.

2. Build and start the app:

```bash
docker compose up --build

DATABASE_URL=url_connection_pooling
JWT_SECRET=super_secret_key
JWT_ALGORITHM=algorithm
JWT_EXPIRE_MINUTES=mh